{% extends 'layout.html' %}
{% block content %}
<script>
$(document).ready(function() {
    $("div.function").hide();
    $("a.function").click(function(){
        $(this).next().next().slideToggle();
    });
});

function callJsonRpc(output, funcname, params_name) {
    params = $(':input[name=' + params_name + '\\[\\]]');
    params_list = '';

    for (var i = 0; i < params.length; i++) {
        if (i > 0) {
            params_list += ', ';
        }

        params_list += params[i].value;
    }

    postData = 'funcname=';
    postData += encodeURIComponent(funcname);
    postData += '&params=';
    postData += encodeURIComponent(params_list);

    $.ajax({
        url: "/call_jsonrpc",
        type: "POST",
        data: postData,
        processData: false,
        contentType: 'application/x-www-form-urlencoded',
        success: function(result){
            $('#' + output).css('color', 'black');
            $('#' + output).text('Server replied: ' + JSON.stringify(result, null, 4));
        },
        error: function(jqXHR, textStatus, err) {
            $('#' + output).text('ERROR: ' + jqXHR.responseText);
            $('#' + output).css('color', 'red');
        }
    });
}
</script>

Connected to:
<table class="connected_to">
<tr>
  <td>Host:</td>
  <td>{{host}}</td>
</tr>
<tr>
  <td>Port</td>
  <td>{{port}}</td>
</tr>
<tr>
  <td>Over HTTP:</td>
  <td>{{http}}</td>
</tr>
</table>

<br>

{% for func in functions %}
<div class="function_wrapper">
<a class="function" href="javascript:;">{{func['name_with_params']}}</a><br>
<div class="function">
<p>{{func['description']}}</p>
<h3>Params:</h3>
<table class="params">
{% for param in func['params'] %}
<tr>
  <td>{{param['name']}}</td>
  <td>{{param['type']}}</td>
  {% if param['control'] == 'textarea' %}
  <td><textarea name="params_{{func['name']}}[]" rows="10" cols="80"></textarea></td>
  {% else %}
  <td><input name="params_{{func['name']}}[]" type="text" size="30"/></td>
  {% endif %}
  <td>{{param['description']}}</td>
</tr>
{% endfor %}
</table>
<p>Returns: {{func['result_type']}} - {{func['result_desc']}}</p>

<p>
  <button onclick="javascript:callJsonRpc('result_{{func['name']}}', '{{func['name']}}', 'params_{{func['name']}}');">Execute</button><br>
  <div id="result_{{func['name']}}" class="result"></div>
</p>
</div>
</div>
{% endfor %}

{% endblock %}
