h1 {
  text-align: center;
}

a.function:visited {
  color: #0000FF;
}

a.function:hover {
  text-decoration: underline;
}

a.function {
  color: #0000ff;
  text-decoration: none;
}

div.function_wrapper {
  background-color: #f9f9f9;
  padding: 0.5em;
  margin-bottom: 1em;
  border: 1px solid #f3f3f3;
}

div.login_center {
  text-align: center;
}

fieldset.login {
  text-align: left;
  display: inline-block;
  padding: 0.75em;
  border: 1px solid #f3f3f3;
  background-color: #f9f9f9;
}

fieldset.login legend {
  font-weight: bold;
}

table.login td {
    padding: 0.5em;
}

table.connected_to {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    background-color: #f9f9f9;
    border: 1px solid #f3f3f3;
}

table.connected_to tr {
    margin: 0;
    padding: 0;
}

table.connected_to td {
    padding: 0.5em;
    margin: 0;
    border: 1px solid #f3f3f3;
}

div.result {
    white-space: pre;
}

div.error {
    color: red;
    text-width: bold;
}

table.params td {
    vertical-align: top;
    padding: 0.3em;
}
